In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('train.csv')
train.head()

,time,temperature_2m_max (°C),temperature_2m_min (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),sunrise (iso8601),sunset (iso8601),shortwave_radiation_sum (MJ/m²),rain_sum (mm),snowfall_sum (cm),windspeed_10m_max (km/h),windgusts_10m_max (km/h),winddirection_10m_dominant (°),et0_fao_evapotranspiration (mm),elevation,city
0,2018-01-01,29.9,26.0,36.3,31.6,2018-01-01T05:15,2018-01-01T17:49,17.59,7.7,0.0,6.9,20.2,277.0,3.61,0,su
1,2018-01-02,30.6,25.7,37.7,31.2,2018-01-02T05:15,2018-01-02T17:50,19.87,9.4,0.0,7.1,18.0,168.0,4.11,0,su
2,2018-01-03,31.8,25.9,40.3,31.7,2018-01-03T05:16,2018-01-03T17:50,20.44,7.8,0.0,8.1,21.2,125.0,4.23,0,su
3,2018-01-04,30.8,26.0,39.1,31.6,2018-01-04T05:16,2018-01-04T17:50,20.44,29.7,0.0,7.2,21.6,190.0,4.22,0,su
4,2018-01-05,30.9,25.2,37.6,29.9,2018-01-05T05:17,2018-01-05T17:51,20.10,22.5,0.0,6.9,21.2,241.0,4.16,0,su

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13258 entries, 0 to 13257
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   time                             13258 non-null  object
 1   temperature_2m_max (°C)          13208 non-null  float64
 2   temperature_2m_min (°C)          13208 non-null  float64
 3   apparent_temperature_max (°C)    13208 non-null  float64
 4   apparent_temperature_min (°C)    13208 non-null  float64
 5   sunrise (iso8601)                13258 non-null  object
 6   sunset (iso8601)                 13258 non-null  object
 7   shortwave_radiation_sum (MJ/m²)  13198 non-null  float64
 8   rain_sum (mm)                    13198 non-null  float64
 9   snowfall_sum (cm)                13198 non-null  float64
 10  windspeed_10m_max (km/h)         13208 non-null  float64
 11  windgusts_10m_max (km/h)         13208 non-null  float64
 12  winddirection_10m_dominant (°)   12792 non-null  float64
 13  et0_fao_evapotranspiration (mm)  13198 non-null  float64
 14  elevation                        13258 non-null  int64
 15  city                             13258 non-null  object
dtypes: float64(11), int64(1), object(4)
memory usage: 1.6+ MB

In [4]:
train = train.drop('winddirection_10m_dominant (°)', axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13258 entries, 0 to 13257
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   time                             13258 non-null  object
 1   temperature_2m_max (°C)          13208 non-null  float64
 2   temperature_2m_min (°C)          13208 non-null  float64
 3   apparent_temperature_max (°C)    13208 non-null  float64
 4   apparent_temperature_min (°C)    13208 non-null  float64
 5   sunrise (iso8601)                13258 non-null  object
 6   sunset (iso8601)                 13258 non-null  object
 7   shortwave_radiation_sum (MJ/m²)  13198 non-null  float64
 8   rain_sum (mm)                    13198 non-null  float64
 9   snowfall_sum (cm)                13198 non-null  float64
 10  windspeed_10m_max (km/h)         13208 non-null  float64
 11  windgusts_10m_max (km/h)         13208 non-null  float64
 12  et0_fao_evapotranspiration (mm)  13198 non-null  float64
 13  elevation                        13258 non-null  int64
 14  city                             13258 non-null  object
dtypes: float64(10), int64(1), object(4)
memory usage: 1.5+ MB

In [5]:
train.dropna(inplace=True)
train.isna().sum()

time                               0
temperature_2m_max (°C)            0
temperature_2m_min (°C)            0
apparent_temperature_max (°C)      0
apparent_temperature_min (°C)      0
sunrise (iso8601)                  0
sunset (iso8601)                   0
shortwave_radiation_sum (MJ/m²)    0
rain_sum (mm)                      0
snowfall_sum (cm)                  0
windspeed_10m_max (km/h)           0
windgusts_10m_max (km/h)           0
et0_fao_evapotranspiration (mm)    0
elevation                          0
city                               0
dtype: int64

In [6]:
train.drop('time', axis=1, inplace=True)

In [7]:
train.head()

,temperature_2m_max (°C),temperature_2m_min (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),sunrise (iso8601),sunset (iso8601),shortwave_radiation_sum (MJ/m²),rain_sum (mm),snowfall_sum (cm),windspeed_10m_max (km/h),windgusts_10m_max (km/h),et0_fao_evapotranspiration (mm),elevation,city
0,29.9,26.0,36.3,31.6,2018-01-01T05:15,2018-01-01T17:49,17.59,7.7,0.0,6.9,20.2,3.61,0,su
1,30.6,25.7,37.7,31.2,2018-01-02T05:15,2018-01-02T17:50,19.87,9.4,0.0,7.1,18.0,4.11,0,su
2,31.8,25.9,40.3,31.7,2018-01-03T05:16,2018-01-03T17:50,20.44,7.8,0.0,8.1,21.2,4.23,0,su
3,30.8,26.0,39.1,31.6,2018-01-04T05:16,2018-01-04T17:50,20.44,29.7,0.0,7.2,21.6,4.22,0,su
4,30.9,25.2,37.6,29.9,2018-01-05T05:17,2018-01-05T17:51,20.10,22.5,0.0,6.9,21.2,4.16,0,su

In [8]:
#ENCODING STRING DATASET

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

train['sunrise (iso8601)'] = le.fit_transform(train['sunrise (iso8601)'])
train['sunset (iso8601)'] = le.fit_transform(train['sunset (iso8601)'])
train['city'] = le.fit_transform(train['city'])

In [9]:
train.head()

,temperature_2m_max (°C),temperature_2m_min (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),sunrise (iso8601),sunset (iso8601),shortwave_radiation_sum (MJ/m²),rain_sum (mm),snowfall_sum (cm),windspeed_10m_max (km/h),windgusts_10m_max (km/h),et0_fao_evapotranspiration (mm),elevation,city
0,29.9,26.0,36.3,31.6,5,5,17.59,7.7,0.0,6.9,20.2,3.61,0,7
1,30.6,25.7,37.7,31.2,14,13,19.87,9.4,0.0,7.1,18.0,4.11,0,7
2,31.8,25.9,40.3,31.7,22,21,20.44,7.8,0.0,8.1,21.2,4.23,0,7
3,30.8,26.0,39.1,31.6,30,29,20.44,29.7,0.0,7.2,21.6,4.22,0,7
4,30.9,25.2,37.6,29.9,39,37,20.10,22.5,0.0,6.9,21.2,4.16,0,7

In [10]:
train['sunrise (iso8601)'].nunique()

11696

In [11]:
X = pd.DataFrame(train.iloc[:, :])
X = X.drop('rain_sum (mm)', axis=1)
y = pd.DataFrame(train.iloc[:,8])
X.shape

(13198, 13)

In [12]:
y.shape

(13198, 1)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [14]:
from sklearn import metrics

In [15]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)
predictions = lr.predict(X_test)
print('nilai MSE : ', metrics.mean_squared_error(y_test, predictions))

nilai MSE :  8.368297930693463e-30

In [18]:
test = pd.read_csv('test.csv')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4972 entries, 0 to 4971
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               4972 non-null   int64
 1   time                             4972 non-null   object
 2   temperature_2m_max (°C)          4972 non-null   float64
 3   temperature_2m_min (°C)          4972 non-null   float64
 4   apparent_temperature_max (°C)    4972 non-null   float64
 5   apparent_temperature_min (°C)    4972 non-null   float64
 6   sunrise (iso8601)                4972 non-null   object
 7   sunset (iso8601)                 4972 non-null   object
 8   shortwave_radiation_sum (MJ/m²)  4972 non-null   float64
 9   snowfall_sum (cm)                4972 non-null   float64
 10  windspeed_10m_max (km/h)         4972 non-null   float64
 11  windgusts_10m_max (km/h)         4972 non-null   float64
 12  winddirection_10m_dominant (°)   4972 non-null   float64
 13  et0_fao_evapotranspiration (mm)  4972 non-null   float64
 14  elevation                        4972 non-null   int64
 15  city                             4972 non-null   object
dtypes: float64(10), int64(2), object(4)
memory usage: 621.6+ KB

In [24]:
# test = test.drop(['id', 'time'], axis=1) # udah ke run

test.drop('winddirection_10m_dominant (°)',axis=1, inplace=True)

In [27]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

test['sunrise (iso8601)'] = LE.fit_transform(test['sunrise (iso8601)'])
test['sunset (iso8601)'] = LE.fit_transform(test['sunset (iso8601)'])
test['city'] = LE.fit_transform(test['city'])

In [28]:
# from sklearn.linear_model import LinearRegression

lR = LinearRegression()
lR.fit(X_train, y_train)
predictions = lr.predict(test)
# print('nilai MSE : ', metrics.mean_squared_error(y_test, predictions))
predictions

array([[-1.71990489e-15],
       [-1.91736597e-15],
       [-2.09222652e-15],
       ...,
       [ 1.05000000e+00],
       [-5.30902589e-15],
       [-5.24903059e-15]])

In [30]:
df = pd.DataFrame(predictions)
df.rename(columns={0:'rainfall'})
df.columns = ['rain_sum (mm)']
df.index.name = 'id'
df.to_csv('submission3.csv', index=True)
# df

In [16]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'

In [ ]:
predictions

array([ 8.2541593 , -2.29513962,  6.68092226, ...,  8.47874053,
        4.47154157, 20.89880925])

In [ ]:
from sklearn import metrics
print('nilai MSE : ', metrics.mean_squared_error(y_test, predictions))

nilai MSE :  45.74490892055445

In [ ]:
from sklearn.tree import DecisionTreeClassifier

y_transformed = le.fit_transform(y_train)
dt = DecisionTreeClassifier()
dt.fit(X_train, y_transformed)
predictions = dt.predict(X_test)
print('nilai MSE : ', metrics.mean_squared_error(y_test, predictions))

nilai MSE :  9254.448060146924

In [ ]:
from sklearn.linear_model import LogisticRegression

y_transformed = le.fit_transform(y_train)
dt = LogisticRegression()
dt.fit(X_train, y_transformed)
predictions = dt.predict(X_test)
print('nilai MSE : ', metrics.mean_squared_error(y_test, predictions))

nilai MSE :  4362.900355831038

c:\Users\Naufalqii\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
y_transformed = le.fit_transform(y)
y_transformed = pd.DataFrame(y_transformed)
y_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13198 entries, 0 to 13197
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       13198 non-null  int64
dtypes: int64(1)
memory usage: 103.2 KB

In [ ]:
X

,temperature_2m_max (°C),temperature_2m_min (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),sunrise (iso8601),sunset (iso8601),shortwave_radiation_sum (MJ/m²),snowfall_sum (cm),windspeed_10m_max (km/h),windgusts_10m_max (km/h),et0_fao_evapotranspiration (mm),elevation,city
0,29.9,26.0,36.3,31.6,5,5,17.59,0.00,6.9,20.2,3.61,0,7
1,30.6,25.7,37.7,31.2,14,13,19.87,0.00,7.1,18.0,4.11,0,7
2,31.8,25.9,40.3,31.7,22,21,20.44,0.00,8.1,21.2,4.23,0,7
3,30.8,26.0,39.1,31.6,30,29,20.44,0.00,7.2,21.6,4.22,0,7
4,30.9,25.2,37.6,29.9,39,37,20.10,0.00,6.9,21.2,4.16,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13247,6.8,5.0,3.0,1.1,0,0,8.14,0.00,16.1,25.6,1.26,0,4
13248,6.0,3.7,2.9,0.7,0,0,9.30,0.00,16.1,21.2,1.20,0,4
13249,4.3,3.7,1.5,0.7,0,0,15.36,0.00,9.7,15.5,1.49,0,4
13250,5.7,3.0,2.3,0.2,0,0,18.56,0.00,11.5,15.8,1.71,0,4
13251,-11.4,-14.6,-15.7,-18.5,0,0,12.86,1.05,6.1,9.7,0.59,0,4

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8842 entries, 9078 to 13205
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   temperature_2m_max (°C)          8842 non-null   float64
 1   temperature_2m_min (°C)          8842 non-null   float64
 2   apparent_temperature_max (°C)    8842 non-null   float64
 3   apparent_temperature_min (°C)    8842 non-null   float64
 4   sunrise (iso8601)                8842 non-null   int64
 5   sunset (iso8601)                 8842 non-null   int64
 6   shortwave_radiation_sum (MJ/m²)  8842 non-null   float64
 7   snowfall_sum (cm)                8842 non-null   float64
 8   windspeed_10m_max (km/h)         8842 non-null   float64
 9   windgusts_10m_max (km/h)         8842 non-null   float64
 10  et0_fao_evapotranspiration (mm)  8842 non-null   float64
 11  elevation                        8842 non-null   int64
 12  city                             8842 non-null   int32
dtypes: float64(9), int32(1), int64(3)
memory usage: 932.6 KB

In [ ]:
train_hourly = pd.read_csv('train_hourly.csv')
train_hourly.head()

,time,temperature_2m (°C),relativehumidity_2m (%),dewpoint_2m (°C),apparent_temperature (°C),pressure_msl (hPa),surface_pressure (hPa),snowfall (cm),cloudcover (%),cloudcover_low (%),...,vapor_pressure_deficit (kPa),soil_temperature_0_to_7cm (°C),soil_temperature_7_to_28cm (°C),soil_temperature_28_to_100cm (°C),soil_temperature_100_to_255cm (°C),soil_moisture_0_to_7cm (m³/m³),soil_moisture_7_to_28cm (m³/m³),soil_moisture_28_to_100cm (m³/m³),soil_moisture_100_to_255cm (m³/m³),city
0,2018-01-01T00:00,25.0,94.0,24.1,32.3,1007.0,1009.3,0.0,82.0,33.0,...,0.18,26.8,28.5,28.7,29.3,0.298,0.307,0.281,0.28,su
1,2018-01-01T01:00,25.2,92.0,23.8,32.5,1006.5,1008.8,0.0,100.0,45.0,...,0.27,26.6,28.4,28.7,29.3,0.298,0.307,0.281,0.28,su
2,2018-01-01T02:00,24.9,92.0,23.6,32.7,1006.1,1008.4,0.0,81.0,34.0,...,0.24,26.5,28.2,28.7,29.3,0.297,0.306,0.281,0.28,su
3,2018-01-01T03:00,25.1,89.0,23.3,32.1,1005.3,1007.6,0.0,65.0,29.0,...,0.33,26.2,28.1,28.7,29.3,0.296,0.305,0.282,0.28,su
4,2018-01-01T04:00,24.8,91.0,23.3,31.9,1005.3,1007.6,0.0,52.0,12.0,...,0.28,26.0,27.9,28.7,29.3,0.294,0.305,0.282,0.28,su

In [ ]:
train.isna().sum()

time                                 0
temperature_2m_max (°C)             50
temperature_2m_min (°C)             50
apparent_temperature_max (°C)       50
apparent_temperature_min (°C)       50
sunrise (iso8601)                    0
sunset (iso8601)                     0
shortwave_radiation_sum (MJ/m²)     60
rain_sum (mm)                       60
snowfall_sum (cm)                   60
windspeed_10m_max (km/h)            50
windgusts_10m_max (km/h)            50
winddirection_10m_dominant (°)     466
et0_fao_evapotranspiration (mm)     60
elevation                            0
city                                 0
dtype: int64

In [ ]:
train_hourly.isna().sum()

time                                    0
temperature_2m (°C)                   170
relativehumidity_2m (%)               170
dewpoint_2m (°C)                      170
apparent_temperature (°C)             170
pressure_msl (hPa)                    170
surface_pressure (hPa)                170
snowfall (cm)                         170
cloudcover (%)                        170
cloudcover_low (%)                    170
cloudcover_mid (%)                    170
cloudcover_high (%)                   170
shortwave_radiation (W/m²)            170
direct_radiation (W/m²)               170
diffuse_radiation (W/m²)              170
direct_normal_irradiance (W/m²)       160
windspeed_10m (km/h)                  170
windspeed_100m (km/h)                 170
winddirection_10m (°)                 602
winddirection_100m (°)                347
windgusts_10m (km/h)                  170
et0_fao_evapotranspiration (mm)       170
vapor_pressure_deficit (kPa)          170
soil_temperature_0_to_7cm (°C)        170
soil_temperature_7_to_28cm (°C)       170
soil_temperature_28_to_100cm (°C)     170
soil_temperature_100_to_255cm (°C)    170
soil_moisture_0_to_7cm (m³/m³)        170
soil_moisture_7_to_28cm (m³/m³)       170
soil_moisture_28_to_100cm (m³/m³)     170
soil_moisture_100_to_255cm (m³/m³)    170
city                                    0
dtype: int64

In [ ]:
# if(train['temperature_2m_max (°C)'] == train_hourly['temperature_2m (°C)'] and train['temperature_2m_max (°C)'] == np.nan() ):print(train['time'])

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13258 entries, 0 to 13257
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   time                             13258 non-null  object
 1   temperature_2m_max (°C)          13208 non-null  float64
 2   temperature_2m_min (°C)          13208 non-null  float64
 3   apparent_temperature_max (°C)    13208 non-null  float64
 4   apparent_temperature_min (°C)    13208 non-null  float64
 5   sunrise (iso8601)                13258 non-null  object
 6   sunset (iso8601)                 13258 non-null  object
 7   shortwave_radiation_sum (MJ/m²)  13198 non-null  float64
 8   rain_sum (mm)                    13198 non-null  float64
 9   snowfall_sum (cm)                13198 non-null  float64
 10  windspeed_10m_max (km/h)         13208 non-null  float64
 11  windgusts_10m_max (km/h)         13208 non-null  float64
 12  winddirection_10m_dominant (°)   12792 non-null  float64
 13  et0_fao_evapotranspiration (mm)  13198 non-null  float64
 14  elevation                        13258 non-null  int64
 15  city                             13258 non-null  object
dtypes: float64(11), int64(1), object(4)
memory usage: 1.6+ MB

In [ ]:
train_hourly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318192 entries, 0 to 318191
Data columns (total 32 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   time                                318192 non-null  object
 1   temperature_2m (°C)                 318022 non-null  float64
 2   relativehumidity_2m (%)             318022 non-null  float64
 3   dewpoint_2m (°C)                    318022 non-null  float64
 4   apparent_temperature (°C)           318022 non-null  float64
 5   pressure_msl (hPa)                  318022 non-null  float64
 6   surface_pressure (hPa)              318022 non-null  float64
 7   snowfall (cm)                       318022 non-null  float64
 8   cloudcover (%)                      318022 non-null  float64
 9   cloudcover_low (%)                  318022 non-null  float64
 10  cloudcover_mid (%)                  318022 non-null  float64
 11  cloudcover_high (%)                 318022 non-null  float64
 12  shortwave_radiation (W/m²)          318022 non-null  float64
 13  direct_radiation (W/m²)             318022 non-null  float64
 14  diffuse_radiation (W/m²)            318022 non-null  float64
 15  direct_normal_irradiance (W/m²)     318032 non-null  float64
 16  windspeed_10m (km/h)                318022 non-null  float64
 17  windspeed_100m (km/h)               318022 non-null  float64
 18  winddirection_10m (°)               317590 non-null  float64
 19  winddirection_100m (°)              317845 non-null  float64
 20  windgusts_10m (km/h)                318022 non-null  float64
 21  et0_fao_evapotranspiration (mm)     318022 non-null  float64
 22  vapor_pressure_deficit (kPa)        318022 non-null  float64
 23  soil_temperature_0_to_7cm (°C)      318022 non-null  float64
 24  soil_temperature_7_to_28cm (°C)     318022 non-null  float64
 25  soil_temperature_28_to_100cm (°C)   318022 non-null  float64
 26  soil_temperature_100_to_255cm (°C)  318022 non-null  float64
 27  soil_moisture_0_to_7cm (m³/m³)      318022 non-null  float64
 28  soil_moisture_7_to_28cm (m³/m³)     318022 non-null  float64
 29  soil_moisture_28_to_100cm (m³/m³)   318022 non-null  float64
 30  soil_moisture_100_to_255cm (m³/m³)  318022 non-null  float64
 31  city                                318192 non-null  object
dtypes: float64(30), object(2)
memory usage: 77.7+ MB